body {
  background-color: #fdfdfc;
  text-align: center;
}

h1, h2 {
  color: #89cff0;
  font-family: "Space Mono", monospace;
  font-weight: bold;
}

h3 {
  text-decoration: underline;
}

label {
  font-size: 18px;
}

button {
  background-color: #89cff0;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 10%;
  padding: 3px 10px;

  &:hover {
  color: gold;
  }
}
